react-2048/node_modules/.package-lock.json
react-2048/node_modules/.bin/esbuild
react-2048/node_modules/.bin/loose-envify
react-2048/node_modules/.bin/nanoid
react-2048/node_modules/.bin/rollup
react-2048/node_modules/.bin/vite
react-2048/node_modules/.vite/deps/_metadata.json
react-2048/node_modules/.vite/deps/chunk-REFQX4J5.js
react-2048/node_modules/.vite/deps/chunk-REFQX4J5.js.map
react-2048/node_modules/.vite/deps/package.json
react-2048/node_modules/.vite/deps/react-dom_client.js
react-2048/node_modules/.vite/deps/react-dom_client.js.map
react-2048/node_modules/.vite/deps/react.js
react-2048/node_modules/.vite/deps/react.js.map
react-2048/node_modules/@esbuild/linux-x64/package.json
react-2048/node_modules/@esbuild/linux-x64/README.md
react-2048/node_modules/@esbuild/linux-x64/bin/esbuild
react-2048/node_modules/@rollup/rollup-linux-x64-gnu/package.json
react-2048/node_modules/@rollup/rollup-linux-x64-gnu/README.md
react-2048/node_modules/@rollup/rollup-linux-x64-gnu/rollup.linux-x64-gnu.node
react-2048/node_modules/@rollup/rollup-linux-x64-musl/package.json
react-2048/node_modules/@rollup/rollup-linux-x64-musl/README.md
react-2048/node_modules/@rollup/rollup-linux-x64-musl/rollup.linux-x64-musl.node
react-2048/node_modules/@types/estree/flow.d.ts
react-2048/node_modules/@types/estree/index.d.ts
react-2048/node_modules/@types/estree/LICENSE
react-2048/node_modules/@types/estree/package.json
react-2048/node_modules/@types/estree/README.md
react-2048/node_modules/esbuild/install.js
react-2048/node_modules/esbuild/LICENSE.md
react-2048/node_modules/esbuild/package.json
react-2048/node_modules/esbuild/README.md
react-2048/node_modules/esbuild/bin/esbuild
react-2048/node_modules/esbuild/lib/main.d.ts
react-2048/node_modules/esbuild/lib/main.js
react-2048/node_modules/js-tokens/CHANGELOG.md
react-2048/node_modules/js-tokens/index.js
react-2048/node_modules/js-tokens/LICENSE
react-2048/node_modules/js-tokens/package.json
react-2048/node_modules/js-tokens/README.md
react-2048/node_modules/loose-envify/cli.js
react-2048/node_modules/loose-envify/custom.js
react-2048/node_modules/loose-envify/index.js
react-2048/node_modules/loose-envify/LICENSE
react-2048/node_modules/loose-envify/loose-envify.js
react-2048/node_modules/loose-envify/package.json
react-2048/node_modules/loose-envify/README.md
react-2048/node_modules/loose-envify/replace.js
react-2048/node_modules/nanoid/index.browser.cjs
react-2048/node_modules/nanoid/index.browser.js
react-2048/node_modules/nanoid/index.cjs
react-2048/node_modules/nanoid/index.d.cts
react-2048/node_modules/nanoid/index.d.ts
react-2048/node_modules/nanoid/index.js
react-2048/node_modules/nanoid/LICENSE
react-2048/node_modules/nanoid/nanoid.js
react-2048/node_modules/nanoid/package.json
react-2048/node_modules/nanoid/README.md
react-2048/node_modules/nanoid/async/index.browser.cjs
react-2048/node_modules/nanoid/async/index.browser.js
react-2048/node_modules/nanoid/async/index.cjs
react-2048/node_modules/nanoid/async/index.d.ts
react-2048/node_modules/nanoid/async/index.js
react-2048/node_modules/nanoid/async/index.native.js
react-2048/node_modules/nanoid/async/package.json
react-2048/node_modules/nanoid/bin/nanoid.cjs
react-2048/node_modules/nanoid/non-secure/index.cjs
react-2048/node_modules/nanoid/non-secure/index.d.ts
react-2048/node_modules/nanoid/non-secure/index.js
react-2048/node_modules/nanoid/non-secure/package.json
react-2048/node_modules/nanoid/url-alphabet/index.cjs
react-2048/node_modules/nanoid/url-alphabet/index.js
react-2048/node_modules/nanoid/url-alphabet/package.json
react-2048/node_modules/picocolors/LICENSE
react-2048/node_modules/picocolors/package.json
react-2048/node_modules/picocolors/picocolors.browser.js
react-2048/node_modules/picocolors/picocolors.d.ts
react-2048/node_modules/picocolors/picocolors.js
react-2048/node_modules/picocolors/README.md
react-2048/node_modules/picocolors/types.d.ts
react-2048/node_modules/postcss/LICENSE
react-2048/node_modules/postcss/package.json
react-2048/node_modules/postcss/README.md
react-2048/node_modules/postcss/lib/at-rule.d.ts
react-2048/node_modules/postcss/lib/at-rule.js
react-2048/node_modules/postcss/lib/comment.d.ts
react-2048/node_modules/postcss/lib/comment.js
react-2048/node_modules/postcss/lib/container.d.ts
react-2048/node_modules/postcss/lib/container.js
react-2048/node_modules/postcss/lib/css-syntax-error.d.ts
react-2048/node_modules/postcss/lib/css-syntax-error.js
react-2048/node_modules/postcss/lib/declaration.d.ts
react-2048/node_modules/postcss/lib/declaration.js
react-2048/node_modules/postcss/lib/document.d.ts
react-2048/node_modules/postcss/lib/document.js
react-2048/node_modules/postcss/lib/fromJSON.d.ts
react-2048/node_modules/postcss/lib/fromJSON.js
react-2048/node_modules/postcss/lib/input.d.ts
react-2048/node_modules/postcss/lib/input.js
react-2048/node_modules/postcss/lib/lazy-result.d.ts
react-2048/node_modules/postcss/lib/lazy-result.js
react-2048/node_modules/postcss/lib/list.d.ts
react-2048/node_modules/postcss/lib/list.js
react-2048/node_modules/postcss/lib/map-generator.js
react-2048/node_modules/postcss/lib/no-work-result.d.ts
react-2048/node_modules/postcss/lib/no-work-result.js
react-2048/node_modules/postcss/lib/node.d.ts
react-2048/node_modules/postcss/lib/node.js
react-2048/node_modules/postcss/lib/parse.d.ts
react-2048/node_modules/postcss/lib/parse.js
react-2048/node_modules/postcss/lib/parser.js
react-2048/node_modules/postcss/lib/postcss.d.mts
react-2048/node_modules/postcss/lib/postcss.d.ts
react-2048/node_modules/postcss/lib/postcss.js
react-2048/node_modules/postcss/lib/postcss.mjs
react-2048/node_modules/postcss/lib/previous-map.d.ts
react-2048/node_modules/postcss/lib/previous-map.js
react-2048/node_modules/postcss/lib/processor.d.ts
react-2048/node_modules/postcss/lib/processor.js
react-2048/node_modules/postcss/lib/result.d.ts
react-2048/node_modules/postcss/lib/result.js
react-2048/node_modules/postcss/lib/root.d.ts
react-2048/node_modules/postcss/lib/root.js
react-2048/node_modules/postcss/lib/rule.d.ts
react-2048/node_modules/postcss/lib/rule.js
react-2048/node_modules/postcss/lib/stringifier.d.ts
react-2048/node_modules/postcss/lib/stringifier.js
react-2048/node_modules/postcss/lib/stringify.d.ts
react-2048/node_modules/postcss/lib/stringify.js
react-2048/node_modules/postcss/lib/symbols.js
react-2048/node_modules/postcss/lib/terminal-highlight.js
react-2048/node_modules/postcss/lib/tokenize.js
react-2048/node_modules/postcss/lib/warn-once.js
react-2048/node_modules/postcss/lib/warning.d.ts
react-2048/node_modules/postcss/lib/warning.js
react-2048/node_modules/react/index.js
react-2048/node_modules/react/jsx-dev-runtime.js
react-2048/node_modules/react/jsx-runtime.js
react-2048/node_modules/react/LICENSE
react-2048/node_modules/react/package.json
react-2048/node_modules/react/react.shared-subset.js
react-2048/node_modules/react/README.md
react-2048/node_modules/react/cjs/react-jsx-dev-runtime.development.js
react-2048/node_modules/react/cjs/react-jsx-dev-runtime.production.min.js
react-2048/node_modules/react/cjs/react-jsx-dev-runtime.profiling.min.js
react-2048/node_modules/react/cjs/react-jsx-runtime.development.js
react-2048/node_modules/react/cjs/react-jsx-runtime.production.min.js
react-2048/node_modules/react/cjs/react-jsx-runtime.profiling.min.js
react-2048/node_modules/react/cjs/react.development.js
react-2048/node_modules/react/cjs/react.production.min.js
react-2048/node_modules/react/cjs/react.shared-subset.development.js
react-2048/node_modules/react/cjs/react.shared-subset.production.min.js
react-2048/node_modules/react/umd/react.development.js
react-2048/node_modules/react/umd/react.production.min.js
react-2048/node_modules/react/umd/react.profiling.min.js
react-2048/node_modules/react-dom/client.js
react-2048/node_modules/react-dom/index.js
react-2048/node_modules/react-dom/LICENSE
react-2048/node_modules/react-dom/package.json
react-2048/node_modules/react-dom/profiling.js
react-2048/node_modules/react-dom/README.md
react-2048/node_modules/react-dom/server.browser.js
react-2048/node_modules/react-dom/server.js
react-2048/node_modules/react-dom/server.node.js
react-2048/node_modules/react-dom/test-utils.js
react-2048/node_modules/react-dom/cjs/react-dom-server-legacy.browser.development.js
react-2048/node_modules/react-dom/cjs/react-dom-server-legacy.browser.production.min.js
react-2048/node_modules/react-dom/cjs/react-dom-server-legacy.node.development.js
react-2048/node_modules/react-dom/cjs/react-dom-server-legacy.node.production.min.js
react-2048/node_modules/react-dom/cjs/react-dom-server.browser.development.js
react-2048/node_modules/react-dom/cjs/react-dom-server.browser.production.min.js
react-2048/node_modules/react-dom/cjs/react-dom-server.node.development.js
react-2048/node_modules/react-dom/cjs/react-dom-server.node.production.min.js
react-2048/node_modules/react-dom/cjs/react-dom-test-utils.development.js
react-2048/node_modules/react-dom/cjs/react-dom-test-utils.production.min.js
react-2048/node_modules/react-dom/cjs/react-dom.development.js
react-2048/node_modules/react-dom/cjs/react-dom.production.min.js
react-2048/node_modules/react-dom/cjs/react-dom.profiling.min.js
react-2048/node_modules/react-dom/umd/react-dom-server-legacy.browser.development.js
react-2048/node_modules/react-dom/umd/react-dom-server-legacy.browser.production.min.js
react-2048/node_modules/react-dom/umd/react-dom-server.browser.development.js
react-2048/node_modules/react-dom/umd/react-dom-server.browser.production.min.js
react-2048/node_modules/react-dom/umd/react-dom-test-utils.development.js
react-2048/node_modules/react-dom/umd/react-dom-test-utils.production.min.js
react-2048/node_modules/react-dom/umd/react-dom.development.js
react-2048/node_modules/react-dom/umd/react-dom.production.min.js
react-2048/node_modules/react-dom/umd/react-dom.profiling.min.js
react-2048/node_modules/rollup/LICENSE.md
react-2048/node_modules/rollup/package.json
react-2048/node_modules/rollup/README.md
react-2048/node_modules/rollup/dist/getLogFilter.d.ts
react-2048/node_modules/rollup/dist/getLogFilter.js
react-2048/node_modules/rollup/dist/loadConfigFile.d.ts
react-2048/node_modules/rollup/dist/loadConfigFile.js
react-2048/node_modules/rollup/dist/native.js
react-2048/node_modules/rollup/dist/parseAst.d.ts
react-2048/node_modules/rollup/dist/parseAst.js
react-2048/node_modules/rollup/dist/rollup.d.ts
react-2048/node_modules/rollup/dist/rollup.js
react-2048/node_modules/rollup/dist/bin/rollup
react-2048/node_modules/rollup/dist/es/getLogFilter.js
react-2048/node_modules/rollup/dist/es/package.json
react-2048/node_modules/rollup/dist/es/parseAst.js
react-2048/node_modules/rollup/dist/es/rollup.js
react-2048/node_modules/rollup/dist/es/shared/node-entry.js
react-2048/node_modules/rollup/dist/es/shared/parseAst.js
react-2048/node_modules/rollup/dist/es/shared/watch.js
react-2048/node_modules/rollup/dist/shared/fsevents-importer.js
react-2048/node_modules/rollup/dist/shared/index.js
react-2048/node_modules/rollup/dist/shared/loadConfigFile.js
react-2048/node_modules/rollup/dist/shared/parseAst.js
react-2048/node_modules/rollup/dist/shared/rollup.js
react-2048/node_modules/rollup/dist/shared/watch-cli.js
react-2048/node_modules/rollup/dist/shared/watch.js
react-2048/node_modules/scheduler/index.js
react-2048/node_modules/scheduler/LICENSE
react-2048/node_modules/scheduler/package.json
react-2048/node_modules/scheduler/README.md
react-2048/node_modules/scheduler/unstable_mock.js
react-2048/node_modules/scheduler/unstable_post_task.js
react-2048/node_modules/scheduler/cjs/scheduler-unstable_mock.development.js
react-2048/node_modules/scheduler/cjs/scheduler-unstable_mock.production.min.js
react-2048/node_modules/scheduler/cjs/scheduler-unstable_post_task.development.js
react-2048/node_modules/scheduler/cjs/scheduler-unstable_post_task.production.min.js
react-2048/node_modules/scheduler/cjs/scheduler.development.js
react-2048/node_modules/scheduler/cjs/scheduler.production.min.js
react-2048/node_modules/scheduler/umd/scheduler-unstable_mock.development.js
react-2048/node_modules/scheduler/umd/scheduler-unstable_mock.production.min.js
react-2048/node_modules/scheduler/umd/scheduler.development.js
react-2048/node_modules/scheduler/umd/scheduler.production.min.js
react-2048/node_modules/scheduler/umd/scheduler.profiling.min.js
react-2048/node_modules/source-map-js/LICENSE
react-2048/node_modules/source-map-js/package.json
react-2048/node_modules/source-map-js/README.md
react-2048/node_modules/source-map-js/source-map.d.ts
react-2048/node_modules/source-map-js/source-map.js
react-2048/node_modules/source-map-js/lib/array-set.js
react-2048/node_modules/source-map-js/lib/base64-vlq.js
react-2048/node_modules/source-map-js/lib/base64.js
react-2048/node_modules/source-map-js/lib/binary-search.js
react-2048/node_modules/source-map-js/lib/mapping-list.js
react-2048/node_modules/source-map-js/lib/quick-sort.js
react-2048/node_modules/source-map-js/lib/source-map-consumer.d.ts
react-2048/node_modules/source-map-js/lib/source-map-consumer.js
react-2048/node_modules/source-map-js/lib/source-map-generator.d.ts
react-2048/node_modules/source-map-js/lib/source-map-generator.js
react-2048/node_modules/source-map-js/lib/source-node.d.ts
react-2048/node_modules/source-map-js/lib/source-node.js
react-2048/node_modules/source-map-js/lib/util.js
react-2048/node_modules/vite/client.d.ts
react-2048/node_modules/vite/index.cjs
react-2048/node_modules/vite/index.d.cts
react-2048/node_modules/vite/LICENSE.md
react-2048/node_modules/vite/package.json
react-2048/node_modules/vite/README.md
react-2048/node_modules/vite/bin/openChrome.applescript
react-2048/node_modules/vite/bin/vite.js
react-2048/node_modules/vite/dist/client/client.mjs
react-2048/node_modules/vite/dist/client/env.mjs
react-2048/node_modules/vite/dist/node/cli.js
react-2048/node_modules/vite/dist/node/constants.js
react-2048/node_modules/vite/dist/node/index.d.ts
react-2048/node_modules/vite/dist/node/index.js
react-2048/node_modules/vite/dist/node/runtime.d.ts
react-2048/node_modules/vite/dist/node/runtime.js
react-2048/node_modules/vite/dist/node/types.d-aGj9QkWt.d.ts
react-2048/node_modules/vite/dist/node/chunks/dep-BB45zftN.js
react-2048/node_modules/vite/dist/node/chunks/dep-BK3b2jBa.js
react-2048/node_modules/vite/dist/node/chunks/dep-D-7KCb9p.js
react-2048/node_modules/vite/dist/node/chunks/dep-Dnp7gl8U.js
react-2048/node_modules/vite/dist/node/chunks/dep-IQS-Za7F.js
react-2048/node_modules/vite/dist/node-cjs/publicUtils.cjs
react-2048/node_modules/vite/types/customEvent.d.ts
react-2048/node_modules/vite/types/hmrPayload.d.ts
react-2048/node_modules/vite/types/hot.d.ts
react-2048/node_modules/vite/types/import-meta.d.ts
react-2048/node_modules/vite/types/importGlob.d.ts
react-2048/node_modules/vite/types/importMeta.d.ts
react-2048/node_modules/vite/types/metadata.d.ts
react-2048/node_modules/vite/types/package.json
